@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  width: 380px;
  min-height: 400px;
}
body {
  background-color: #19232d;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1 {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
}

p {
  color: #fff;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  text-align: center;
}

.currency-box {
  /* background-color: aquamarine; */
  background-color: #263545;
  padding: 0rem;
  padding-bottom: 1em;
  margin: 0;
  border-radius: 7px;
  color: wheat;
  font-size: 1rem;
}

.currency-box h2 {
  color: #cb45b0;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 700;
}

.currency-box .price {
  color: #d7d7d7;
  font-size: 1.8rem;
  font-weight: 300;
}

.change {
  color: #bebebe;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 1em;
}

.percentage {
  font-size: 0.7rem;
  margin-bottom: 0em;
  margin-top: 0.2em;
}

.green {
  color: #63eeab;
  font-size: 0.7rem;
  /* margin-bottom: 1em; */
  margin-top: 0.2em;
}

.red {
  color: #ef82a9;
  font-size: 0.7rem;
  /* margin-bottom: 1em; */
  margin-top: 0.2em;
}

/* green 63eeab */
/* red ef82a9 */

h2.gradient {
  /* font-size: 3em; */
  background-image: -webkit-linear-gradient(to bottom, #ffad5b, #ff8aef);
  background-image: -moz-linear-gradient(to bottom, #ffad5b, #ff8aef);
  background-image: linear-gradient(to bottom, #ffad5b, #ff8aef);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Fade in */

.currency-box {
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: fadein 2.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
